{% import "macros/planet.html" as planet_macros %}

{% macro star(star, author, controlled_personas, csrf_token='', controls="default", display_planets=True, link_context=True) %}

<!-- STAR: {{star.id}} -->
<span class="content">
    {% if star.text %}
            <p class="title">
                <a href="{{ url_for('star', id=star.id) }}" title="{{star.created}}">{{ star.text }} </a>
                {% if star.link_url() %}
                    <a href="{{ star.link_url() }}"><i class="fa fa-external-link"></i></a>
                {% endif %}
            </p>
    {% endif %}
</span>

<span class="meta">
    <span class="attribute">
        <form action="{{ url_for('oneup', star_id=star.id) }}" method="POST">
            <button class="oneup btn btn-mini {% if star.oneupped() %}btn-primary{% else %}btn-inverse{% endif %}" id="oneup-{{star.id}}" type="button">
                <span class="oneup-count" id="oneup-count-{{star.id}}">{{star.oneup_count()}}</span> <i class="fa fa-white fa-arrow-up"></i>
            </button>
        </form>
    </span>

    <span class="attribute">
        <button data-target="#comment-modal-{{star.id}}" role="button" class="btn btn-mini" id="comments-{{star.id}}" type="button" data-toggle="modal">
            <span class="oneup-count" id="comment-count-{{star.id}}">{{star.comment_count()}}</span> <i class="fa fa-white fa-comment"></i>
        </button>
    </span>

    {% if controls == "extended" %}
    <span class="attribute">
        <span class="caption">
            <a href="{{ url_for('star', id=star.id) }}" title="{{star.created}}">{{star.created|naturaltime}}</a>
        </span>
    </span>
    {% endif %}

    <span class="inline-semantic"> by </span>

    <span class="attribute">
        <i class="fa fa-circle"></i>
        <span class="caption">
            <a href="{{ url_for('persona', id=star.author.id) }}">{{ star.author.username}}</a>
        </span>
    </span>

    {% if link_context %}
        {% if star.starmaps and (star.starmaps[0] != star.author.profile) %}
        <span class="inline-semantic"> in </span>

        <span class="attribute">
            <i class="fa fa-group"></i>
            <span class="caption">
                <a href="{{ star.starmaps[0].get_absolute_url() }}">{{ star.starmaps[0].contexts[0].username }}</a>
            </span>
        </span>
        {% endif %}
    {% endif %}

    {% if controls == "extended" %}
    <span class="attribute">
        <span class="caption">
            <i class="fa fa-times"></i>&nbsp;
            <a href="#delete-star" role="button" class="" data-toggle="modal">Delete</a>
        </span>
    </span>



    <!-- Modal -->
    <div id="delete-star" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Do you want to delete this Star?</h3>
            </div>
            <div class="modal-body">
            <p>If you click yes, your contact's computers will be sent a request to automatically delete this Star.</p>
            <p><strong>This action is irreversible</strong></p>
        </div>
        <div class="modal-footer">
            <form action="{{url_for('delete_star', id=star.id)}}" method="POST">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" type="submit">Delete</button>
            </form>
        </div>
    </div>
    {% endif %}
</span>

{% if controls == "extended" %}
<div class="comment">
    <form action="{{ url_for('create_star', parent_id=star.id) }}" method="POST">
            <input type="text" name="title" placeholder="write a comment as {{author.username}}...">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="hidden" name="author" value="{{ author.id }}">
            <input type="hidden" name="context" value="">
    </form>
</div>
{% endif %}

{% if display_planets %}
    {% for planet_assoc in star.planet_assocs %}
        {% if planet_assoc.planet.kind in ['picture', 'linkedpicture'] %}
        <span class="imagewrap-outer">
            {{ planet_macros.planet(planet_assoc.planet, False)}}
        </span>
        {% endif %}
    {% endfor %}
{% endif %}


<!-- Modal -->
<div id="comment-modal-{{star.id}}" class="modal hide fade comment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{star.text}}</h3>
  </div>
  <div class="modal-body">
    <ul>
    {% for comment in star.comments%}
        <li>
        <span class="caption">
            <i class="fa fa-circle"></i> <a href="{{ url_for('persona', id=comment.author.id) }}" >{{comment.author.username}}</a>:
        </span>

        <span>{{ comment.text }}</span>


        <span class="caption" style="float: right">
            <i class="fa fa-asterisk"></i> <a href="{{ url_for('star', id=comment.id) }}" title="{{comment.created}}">{{comment.created|naturaltime}}</a>
        </span>
        </li>
    {% endfor %}
    </ul>
  </div>
  <div class="modal-footer">
    <form action="{{ url_for('create_star', parent_id=star.id) }}" method="POST">
        <input type="text" name="title" placeholder="write a comment...">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="hidden" name="author" value="{{ author.id }}">
        <input type="hidden" name="context" value="">

        <span class="pull-right">
            <div class="btn-group">
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-star"></i>
                    Comment
                </button>

                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                     as {{author.username}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for p in controlled_personas %}
                    <li><a href="#"><i class="fa fa-user"></i> {{p.username}} [{{p.id[:6]}}]</a></li>
                    {% endfor %}
                </ul>
            </div>
        </span>
    </form>
  </div>
</div>
{% endmacro %}
