{% macro star(star, controls="default") %}
<!-- STAR: {{star.id}} -->
<span class="content">
    {% if star.title %}
        <a href="{{ url_for('star', id=star.id) }}">
            <h1>{{ star.title }}</h1>
        </a>
    {% endif %}

    {% if star.text %}
        <p>{{ star.text }}</p>
    {% endif %}
</span>

<span class="meta">
    <span class="attribute">
        <form action="{{ url_for('oneup', star_id=star.id) }}" method="POST">
            <button class="oneup btn btn-mini {% if star.oneupped() %}btn-primary{% else %}btn-inverse{% endif %}" id="oneup-{{star.id}}" type="button">
                <span class="oneup-count" id="oneup-count-{{star.id}}">{{star.oneup_count()}}</span> <i class="fa fa-white fa-arrow-up"></i>
            </button>
        </form>
    </span>

    <span class="attribute">
        <i class="fa fa-asterisk"></i>
        <span class="caption">
            <a href="{{ url_for('star', id=star.id) }}" title="{{star.created}}">{{star.created|naturaltime}}</a>
        </span>
    </span>

    <span class="inline-semantic"> by </span>

    <span class="attribute">
        <i class="fa fa-circle"></i>
        <span class="caption">
            <a href="{{ url_for('persona', id=star.author.id) }}">{{ star.author.username}}</a>
        </span>
    </span>

    {% if controls == "extended" %}
    <span class="attribute">
        <span class="caption">
            <i class="fa fa-times"></i>&nbsp;
            <a href="#delete-star" role="button" class="" data-toggle="modal">Delete</a>
        </span>
    </span>



    <!-- Modal -->
    <div id="delete-star" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Do you want to delete this Star?</h3>
            </div>
            <div class="modal-body">
            <p>If you click yes, your contact's computers will be sent a request to automatically delete this Star.</p>
            <p><strong>This action is irreversible</strong></p>
        </div>
        <div class="modal-footer">
            <form action="{{url_for('delete_star', id=star.id)}}" method="POST">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" type="submit">Delete</button>
            </form>
        </div>
    </div>
    {% endif %}
</span>
{% endmacro %}
