{% extends "base.html" %}

{% block content %}



<div class="answer_questions">

	<p class="questionnaire_title">{{question.catalogue.name}}</p>



	<p class="questionnaire_question">{{question.question_text}}</p> 

	<form method="POST" action="{{url_for('answer_range_question', id=question.id)}}">

	    <div class="answer_range_radios">
	    	{{form.range_value()}}
	    </div>


	    {% if form.range_value.errors %}
	        <ul class="errors">
	        {% for error in form.range_value.errors %}
	            <li>{{ error }}</li>
	        {% endfor %}
	        </ul>
	    {% endif %}

	    <div class="clear"></div>

	    {{ form.csrf_token }}
	    <div class="controls">
	        <button type="submit" class="btn btn-primary">Answer</button>
	    </div>
	</form>

	
    <div id="progress">
        <span id="percent">{{percentage}}%</span>
        <div id="bar" style="width: {{percentage}}%"></div>
    </div>
</div>

{% endblock %}