{% extends "base.html" %}

{% block content %}

{% if question.ask_for_all %}
<h2>{{question.catalogue.name}} {{time.strftime("%H:%M:%S")}}</h2>
{% else: %}
<h2>{{question.catalogue.name}}</h2>
{% endif %}



 <form method="POST" action="{{url_for('answer_range_question', id=question.id)}}">

    <p>Range Question:  {{question.question_text}}</p> 
    {{form.range_value()}}


    {% if form.range_value.errors %}
        <ul class="errors">
        {% for error in form.range_value.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}



    {{ form.csrf_token }}
    <div class="controls">
        <button type="submit" class="btn">Answer</button>
    </div>
</form>

{% endblock %}