{% extends "base.html" %}

{% block content %}

<p class="questionnaire_title">{{question.catalogue.name}}</p>

<div class="answer_questions">
     <form method="POST" role="form" action="{{url_for('answer_text_question', id=question.id)}}">

        <div class="form-group">
            <label for="text" class="questionnaire_question">{{question.question_text}}</label>
            {{ form.text(placeholder="Text")}}
        </div>       


        {{ form.csrf_token }}
        <div class="controls">
            <button type="submit" class="btn btn-primary">Answer</button>
        </div>
    </form>


    <div id="progress">
        <span id="percent">{{percentage}}%</span>
        <div id="bar" style="width: {{percentage}}%"></div>
    </div>


</div>

{% endblock %}