{% extends "base.html" %}

{% block content %}

{% if question.ask_for_all %}
<p class="questionnaire_title">{{question.catalogue.name}} {{time.strftime("%H:%M:%S")}}</p>
{% else: %}
<p class="questionnaire_title">{{question.catalogue.name}}</p>
{% endif %}


<div class="answer_questions">
     <form method="POST" role="form" action="{{url_for('answer_text_question', id=question.id)}}">

        <div class="form-group">
            <label for="text" class="questionnaire_question">{{question.question_text}}</label>
            {{ form.text(placeholder="Text")}}
        </div>       


        {{ form.csrf_token }}
        <div class="controls">
            <button type="submit" class="btn btn-primary">Answer</button>
        </div>
    </form>
</div>

{% endblock %}