{% extends "base.html" %}

{% block content %}

<h2>Reflection System</h2>


<table class="table">
	<th>Name</th>
	<th>Description</th>
	<th>Activation</th>
    <th>Answer</th>
    <th>Show</th>
    {% for cat in catalogues %}

    	{% if cat.activated %}
    		<tr class="success">
    	{% else %}
    		<tr>
    	{% endif %}
    		<td><a href="/catalogue/{{cat.id}}" >{{cat.name}}</a></td>
    		<td style="width: 50%;">{{cat.description}}</td>
    		<td>
                {% if cat.activated %}
                    <a href="{{url_for('deactivate_catalogue', id=cat.id)}}" class="btn btn-danger">Deactivate</a>
                {% else %}
                    <a href="{{url_for('activate_catalogue', id=cat.id)}}" class="btn btn-primary">Activate</a>
                {% endif %}

        	</td>
    		<td>
                    <a href="{{url_for('start_catalogue', id=cat.id)}}"> Answer Questions </a>
    		</td>
            <td>
                    <a href="{{url_for('show_catalouge_answers', id=cat.id, index=0)}}"> Show Answer ListView</a><br />
                    <a href="{{url_for('show_graph', id=cat.id)}}"> Show Answer Graph</a><br />
                    <a href="{{url_for('random_data', id=cat.id)}}">Random Data</a>
            </td>
            </td>
            </td>
    	</tr>
    {% endfor %}
</table>


<form action='/reflection/reset' method='POST'>
<button class="btn btn-danger" type='submit'>Reset all data</button>
</form>

{% endblock %}
