{% extends "base.html" %}

{% block content %}

<h2>Reflection System</h2>


<table class="table">
	<th>Name</th>
	<th>Description</th>
	<th>Activation</th>
    {% for cat in catalogues %}

    	{% if cat.activated %}
    		<tr class="success">
    	{% else %}
    		<tr>
    	{% endif %}
    		<td><a href="/catalogue/{{cat.id}}" >{{cat.name}}</a></td>
    		<td style="width: 50%;">{{cat.description}}</td>
    		<td>
                {% if cat.activated %}
                    <a href="{{url_for('deactivate_catalogue', id=cat.id)}}" class="btn btn-danger">Deactivate</a>
                {% else %}
                    <a href="{{url_for('activate_catalogue', id=cat.id)}}" class="btn btn-primary">Activate</a>
                {% endif %}
    		
        	</td>
    		<td>
                <!--ToDo: Herausfinden welches die letzte Frage war: route "answer catalogue" dann catalogue finden und die zuletzt beantwortete Frage finden und mit der nächsten Weitermachen -->
                {% if cat.questions[0].identifier == "catalogue_range_question" %}
                    <a href="{{url_for('answer_range_question', id=cat.questions[0].id)}}"> Answer Questions </a>
                {% endif %}

                {% if cat.questions[0].identifier =="catalogue_text_question" %}
                    <a href="{{url_for('answer_text_question', id=cat.questions[0].id)}}"> Answer Questions </a>
                {% endif %}
                
                
    		</td>
    	</tr>
    {% endfor %}
</table>

{% endblock %}