{% extends "base.html" %}

{% block content %}

<h2>Hallo Mona!</h2>


<table class="table">
	<th>Name</th>
	<th>Description</th>
	<th>Activation</th>
    {% for cat in catalogues %}

    	{% if cat.activated %}
    		<tr class="success">
    	{% else %}
    		<tr>
    	{% endif %}
    		<td><a href="/catalogue/{{cat.id}}" >{{cat.name}}</a></td>
    		<td style="width: 50%;">{{cat.description}}</td>
    		<td>
    			<form>
    				<button type="button" class="btn btn-primary">Activated</button>
    			</form>
    		</td>
    		<td>
                {% if cat.questions[0].identifier == "catalogue_range_question" %}
                    <a href="{{url_for('answer_range_question', id=cat.questions[0].id)}}"> Answer Questions </a>
                {% endif %}

                {% if cat.questions[0].identifier =="catalogue_text_question" %}
                    <a href="{{url_for('answer_text_question', id=cat.questions[0].id)}}"> Answer Questions </a>
                {% endif %}
                
                
    		</td>
    	</tr>
    {% endfor %}
</table>

{% endblock %}