{% extends "base.html" %}

{% block content %}
<h1>Stars</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Creator</th>
            <th>Modified</th>
            <th>Created</th>
            <th>State</th>
            <th>Group</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      {% for star in stars %}
      <tr>
        <td>{{ star.id }}</td>
        <td>{{ star.text }}</td>
        <td>{{ star.creator.username}}</td>
        <td>{{ star.modified | naturaltime }}</td>
        <td>{{ star.created | naturaltime}} </td>
        <td>{{ star.get_state()[1] | capitalize}}</td>
        <td>{{ star.group_id }} </td>
        {% if star.state >= 0 %}
            <td><a class="btn" href="{{ url_for('delete_star', id=star.id) }}">Delete</a></td>
        {% else %}
            <td>&nbsp;</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
</table>  

<h1>Personas</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</id>
            <th>Username</th>
            <th>Email-Address</th>
            <th>Modified</th>
            <th>Private Key</th>
        </tr>
    </thead>
    <tbody>
      {% for persona in personas %}
      <tr>
        <td>{{ persona.id }}</td>
        <td>{{ persona.username }}</td>
        <td>{{ persona.email }}</td>
        <td>{{ persona.modified }}</td>
        <td>{% if persona.crypt_private %}<i class="icon-key"></i>{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>  

<h1>Planets</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</id>
            <th>Title</th>
            <th>Kind</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
      {% for planet in planets %}
      <tr>
        <td>{{ planet.id }}</td>
        <td>{{ planet.kind }}</td>
        <td>{{ planet.title }}</td>
        <td>{{ planet.created }}</td>
        <td>{{ planet.modified }}</td>
        <td>{{ planet.source }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>  

<h1>Groups</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</id>
            <th>Groupname</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td>{{ group.id }}</td>
        <td>{{ group.groupname }}</td>
        <td>{{ group.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>  


{%endblock%}
