{% extends "base.html" %}

{% block content %}
<section class="col1 row1 w6 h2">
    <h2>Find people you know</h2>
    <p>Please enter Email-Addresses of people you want to find.</p>
</section>


<section class="col1 row2 w6 h1">
{% if error %}<p>{{ error }}</p>{% endif %}
</section>

<section class="col1 row3 w6 h4">
<form method="POST" action="{{url_for('find_people')}}">
    <div class="control-group {% if form.email.errors %}error{% endif %}">
        <div class="input-prepend input-append controls">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input class="span2" name="email" type="text" placeholder="Email address">
            <button class="btn" type="submit">Find</button>
        </div>
        {% if form.email.errors %}
            <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    {{ form.csrf_token }}
</form>
</section>

{% if found %}
<section class="col7 row3 w6 h2">
    <h2>{{found.username}} [{{found.persona_id}}]</h2>
    <form action="{{ url_for('add_contact', persona_id=found.persona_id)}}" method="POST">
        <p><input type="submit" value="Add contact" /></p>
    </form>
</section>
{% endif %}
{% endblock %}