{% extends "base.html" %}

{% block content %}

<h1>Groups</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td>
            <a href="{{ url_for('group', id=group.id) }}"> {{ group.username }} </a>
        </td>
        <td>{{ group.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<a class="btn" href="{{url_for('create_group')}}"><i class="fa fa-magic"></i> Create Group</a>


{%endblock%}
