{% extends "base.html" %}
{% import "macros/star.html" as star_macros %}
{% import "macros/planet.html" as planet_macros %}

{% block content %}
{% if star.planet_assocs.count() > 0 %}
    {% for planet_assoc in star.planet_assocs %}
    <section class="col2 row1 w5 h7">
        {{ planet_macros.planet(planet_assoc.planet, True) }}
    </section>
    {% endfor %}

    <section class="col7 row1 w5 h2">
        {{ star_macros.star(star, controls="extended") }}
    </section>
{% else %}
    <section class="col1 row1 w8 h3">
        {{ star_macros.star(star, controls="extended") }}
    </section>
{% endif %}
{% endblock %}
