{% extends "base.html" %}
{% import "macros/star.html" as star_macros %}
{% import "macros/planet.html" as planet_macros %}

{% block content %}

{% for entry in page %}
{% for planet in entry.content.planets %}
<section class='{{ entry.css_class }}'>
    {{ planet_macros.planet(planet, False)}}
</section>
{% endfor %}

<section class="{%if entry.content.planets|length() >= 1 %}image-overlay{% endif %} {{ entry.css_class }}">
    {{ star_macros.star(entry.content) }}
</section>

{% endfor %}

{% endblock %}
