{% extends "base.html" %}
{% import "macros/star.html" as star_macros %}
{% import "macros/pagination.html" as pagination %}

{% block content %}

{% for star in page.stars %}
{% for planet_assoc in star.content.planet_assocs %}
<section class='{{ star.css_class }}'>
    {{ planet_macros.planet(planet_assoc.planet, False)}}
</section>
{% endfor %}

<section class="{%if star.content.has_picture() %}image-overlay{% endif %} {{ star.css_class }}">
    {{ star_macros.star(star.content, author=active_persona, controlled_personas=controlled_personas) }}
</section>

{% endfor %}

{{ pagination.render_pagination(page.pagination, "universe") }}

{% endblock %}
